/* LOGIN FORM */

.login {
    background: #c9c9c9;
    height: auto;
    border: 1px solid #4b4b4b;
}

.login #header {
    height: auto;
    padding: 15px 16px;
    justify-content: center;
    text-align: center;
    border: 1px solid #4b4b4b;
}

.login #header h1 {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}

.login #header h1 a {
    color: #ffffff;
}

.login #content-main {
    width: 100%;
    padding: 20px 20px 20px;
    border: 1px solid #4b4b4b;
}

.login #container {
    background: #c2c2c2b4;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
    overflow: hidden;
    width: 28em;
    min-width: 300px;
    margin: 100px auto;
    height: auto;
}

.login .form-row {
    padding: 4px 0;
}

.login .form-row label {
    display: block;
    line-height: 2em;
}

.login .form-row #id_username, .login .form-row #id_password {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.login .submit-row {
    padding: 1em 0 0 0;
    margin: 0;
    text-align: center;
}

.login .password-reset-link {
    text-align: center;
}
